<div class="main-container container-fluid">
			<div class="row-fluid">
				<div class="span1">
				</div>
				<div class="span6">		
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="icon-remove"></i>
					</button>
					<strong>信息：</strong>
					这里是信息提示位置
					<br />
				</div>
				</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span1">
				</div>
				<div class="span10">
				<div class="page-header position-relative">
						<h1>
							主屏幕
						</h1>
				</div><!--/.page-header-->

					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->

							<div class="row-fluid">
								<div class="span9 widget-container-span">
									<div class="widget-box transparent">
										<div class="widget-header">
											<h6 class="lighter">Reeder 这么成功，Silvio Rizzi 为什么不将其团队化公司化运作<small>&nbsp;Lawrence Li</small></h6>

											<div class="widget-toolbar no-border">
												<a href="#" data-action="settings">
													<i class="icon-cog"></i>
												</a>

												<a href="#" data-action="reload">
													<i class="icon-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="icon-chevron-up"></i>
												</a>

												<a href="#" data-action="close">
													<i class="icon-remove"></i>
												</a>
											</div>
										</div>

										<div class="widget-body" style="height:1000px">
											<div class="widget-main">
												<p>
													題主補充了問題，故補充答案如下：

首先，在能力足夠強的前提下，人越少，效率和完成度越高。溝通總是會失真，也總是會費時。如果一個人能兼具產品經理、設計師、程序員、推廣的身份，對於產品是最好的。這樣的人在 iOS 開發界我們看到的好像只有 Loren Brichter 和 Silvio Rizzi 兩個。

團隊化，或許可以加快開發速度，但這對於 Rizzi 並不重要。用戶可能急，但他爲什麼要快？他並沒有十幾號人要養。也別忘了他是住在瑞士一個叫 Chur 的小城裡。

公司化運作後，Rizzi 會不會賺得更多？我想他這種人大概不是這樣思考問題的。Rizzi 是匠人。匠人希望能做出好東西，這是第一位的。

獨自一個人的工作方式還有一個好處是可以自由地做實驗。例如目前 Reeder for Mac 的 beta 版的 Preferences 介面在 Mac 軟件裡用了 iOS 7 的風格（toggle switch 等等），這是比較有爭議性的做法。若是團隊運作，各人性格不同，難免有穩健的隊友會反對。這些都是麻煩事。
												</p>
											</div>
										</div>
									</div>
								</div>


								<div class="span3">

									<button class="btn" id="gritter-regular">我是更新的动态，快点我</button>
										
								</div>

							</div><!--/row-->
						</div>
						</div><!--/.span-->
					</div><!--/.row-fluid-->

		</div><!--/.main-container-->