
					<div class="page-header position-relative">
						<h1>
							狼型二级指针
							<small>
								<i class="icon-double-angle-right"></i>
								<a href="#">访问原站点</a>
							</small>
						</h1>
					</div><!--/.page-header-->

					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->

							<div class="row-fluid">
								<div class="span12">
									<div class="tabbable">
										<ul class="nav nav-tabs" id="contentTab">
											<li class="active">
												<a data-toggle="tab" href="#tab1">
													<i class="green icon-home bigger-110"></i>
													我的首页
												</a>
											</li>

											<li>
												<a data-toggle="tab" href="#tab2">
													好友圈
													<span class="badge badge-important">4</span>
												</a>
											</li>

											<li>
												<a data-toggle="tab" href="#tab3">
													特别关注
													<span class="badge badge-important">4</span>
												</a>
											</li>
											<li>
												<a data-toggle="tab" href="#tab4">
													分组1
													<span class="badge badge-important">4</span>
												</a>
											</li>
											<li>
												<a data-toggle="tab" href="#tab5">
													分组2
													<span class="badge badge-important">4</span>
												</a>
											</li>
										</ul>

										<div class="tab-content">
											<div id="tab1" class="tab-pane in active">
												<div class="widget-box">
													<div class="widget-header widget-header-flat">
														<h3>醉步男Publius</h3>
													</div>
													<div class="widget-body">
													<div class="widget-main">
														<p>讲互联网产品或企业的书，有没神马推荐的。</p>
													</div>
													<div class="widget-toolbox padding-8 clearfix">
														<a href="#" class="pull-right">
															评论
														</a>
													</div>
													</div>
													</div>
												<hr />

												<div class="widget-box">
													<div class="widget-header widget-header-flat">
														<h3>醉步男Publius</h3>
													</div>
													<div class="widget-body">
													<div class="widget-main">
														<p>讲互联网产品或企业的书，有没神马推荐的。</p>
													</div>
													<div class="widget-toolbox padding-8 clearfix">
														<a href="#" class="pull-right">
															评论
														</a>
													</div>
													</div>
													</div>
												<hr />

												<div class="widget-box">
													<div class="widget-header widget-header-flat">
														<h3>醉步男Publius</h3>
													</div>
													<div class="widget-body">
													<div class="widget-main">
														<p>讲互联网产品或企业的书，有没神马推荐的。</p>
													</div>
													<div class="widget-toolbox padding-8 clearfix">
														<a href="#" class="pull-right">
															评论
														</a>
													</div>
													</div>
													</div>
												<hr />

												<div class="widget-box">
													<div class="widget-header widget-header-flat">
														<h3>王灏洋Why</h3>
													</div>
													<div class="widget-body">
													<div class="widget-main">
														<p>毕业设计马上就要总评了。触景生情，今天躺床上努力回忆高考倒计时我在干嘛，毫不意外，一片空白什么都想不起来。它就像是我四年前蹦出的一个屁，已经被我用课本扇到了隔壁班小刘的鼻子里。</p>
													</div>
													<div class="widget-toolbox padding-8 clearfix">
														<a href="#" class="pull-right">
															评论
														</a>
													</div>
													</div>
													</div>
												<hr />
											</div>

											<div id="tab2" class="tab-pane">
												<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
											</div>

											<div id="tab3" class="tab-pane">
												<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
											</div>

											<div id="tab4" class="tab-pane">
												<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
											</div>
											<div id="tab5" class="tab-pane">
												<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
											</div>
										</div>
									</div>
								</div><!--/span-->
							</div>

							<script type="text/javascript">
								var $assets = "assets";//this will be used in fuelux.tree-sampledata.js
							</script>

							<!--PAGE CONTENT ENDS-->
						</div><!--/.span-->
					</div><!--/.row-fluid-->
				</div><!--/.page-content-->
