# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = ygg_scrapy.settings

[deploy]
url = http://localhost:6800/scrapy-api/
project = ygg_scrapy
username = caihuanyu
password = caihy